.container{
    background-color: aquamarine;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.productss {
    flex: 30%;
    /* display: flex; */
  background-color: #3d0d0d;
  flex-wrap: wrap;
  /* padding: 5rem; */
     max-width: 30%; 
    box-sizing: border-box;
    margin: auto;
}

